@import url("styles/header.css");
@import url("styles/categorias.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/formulario.css");
@import url("styles/cadastro.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --cor-fundo: #ebecee;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul: #002F52;
    --preto: #000000;
    --cinza-claro: #858585;
    --cinza: #474646;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --button-color: #326589;
    --text-title-color: #fc6621;
    --text-price-color: #002f52;
    --text-author-color: #858585;
    --text-tag-color: #9c9c9c;
    --text-description-color: #fc6621;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

h1 {
    background-color: white;
}