.wrap {
  width: 100%;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin: 1rem 0;
}

.btn {
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  height: 44px;
  text-decoration: none;
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1em;
}

.btn:hover {
  color: #cecdcd;
  border-radius: 10px;
  border-bottom: 2px solid var(--text-description-color);
}

.livros {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.livro {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 544px;
  margin-bottom: 2rem;
}

.indisponivel {
  opacity: 0.3;
}

.livro__titulo {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}

.livro__descricao {
  text-align: center;
  font-size: 18px;
  color: var(--text-author-color);
  margin: 1rem 0;
}

.livro__preco {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-price-color);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.tag {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-tag-color);
  padding: 5px 4px;
  background: rgba(197, 197, 197, 0.25);
  border-radius: 4px;
  margin-right: 1rem;
}

.livros__disponiveis {
  width: 100%;
  height: 80px;
  background-color: var(--text-description-color);
  margin-top: 1rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.livros__disponiveis p {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  font-size: 1.4em;
}

@media screen and (min-width: 667px) {
  .livro {
    width: 33%;
  }
}

@media screen and (min-width: 820px) {
  .livro {
    width: 25%;
  }

  .livros {
    margin-bottom: 2em;
  }
}
@media screen and (min-width: 1180px) {

  .livro {
    width: 20%;
    height: auto;
  }

  .livros {
    gap: 1em;
  }

  .book {
    padding: 1em 4em 0;
  }
}
