.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1.5em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1.5em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista__item{
    margin: 1.5em 0.5em;
}

.topicos__link {
    background-color: var(--laranja);
    padding: 1em 1.5em;
    color: var(--branco);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.topicos__link:hover {
    color: var(--laranja);
    background-color: var(--branco);
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__lista {
        width: 80%;
        margin: auto;
        height: 200px;
    }

    .lista__item {
        margin: 24px 12px;
    }

    .topicos__link {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 4em 0 3em 0;
    }

    .topicos__lista {
        width: 50%;
    }

    .topicos__titulo {
        font-size: 32px;
    }
}